/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --secondary-color: #deebff;
  --background-main-color: #f2f2f2;
  --border-color: #d9d9d9;
  --shadow-color: #00000038;
  --color-white: #fdfdfd;
  --color-black: #020202;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  padding: 0 32px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  /* version mobile, 
  le conteneur principal n'a pas de padding, on le voit au niveau du background coloré de certaines sections ou encore au niveau du header.
  Cependant certaines sections ont leur propre padding */
  .main-container {
    padding: 0;
  }
}

/****** Common Text Related Properties ***********/

.txt-L {
  font-size: 1.375rem;
  font-weight: 700;
}

.txt-M {
  font-size: 1.125rem;
  font-weight: 700;
}

.txt-S {
  font-size: 1rem;
  font-weight: 500;
}

.txt-XS {
  font-size: 0.8rem;
  font-weight: 500;
}

mark {
  color: var(--main-color);
  font-weight: 600;
  font-style: normal;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
